* {
    padding: 0;
    margin: 0;
}

.el-menu.el-menu--horizontal {
    border-bottom: solid 0px #e6e6e6 !important;
}

.el-form-item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

}

.el-popover{
    height: 200px !important;
    overflow-y: auto !important;
}

/*.el-input__suffix .el-input__icon .el-icon-circle-close .el-input__clear{*/
    /*color: red;*/
    /*margin: 0 !important;*/
    /*padding: 0 !important;*/
/*}*/
/*.el-input__suffix  {*/
    /*background: #D6d6d6;*/
    /*color: aqua;*/
    /*margin: 0 !important;*/
    /*padding: 0 !important;*/
    /*right: 0;*/
/*}*/
